* {
    color: white;
    font-family: "Lexend", sans-serif;
  }

  a{
      text-decoration: none;
  }

body{
    background-color: #151e3f;
    text-align: center;
}

/* About me Styling */

.about-me{
    margin-bottom: 2rem
    transform: translateX(-1000px);
}

.about-me a{
    padding-left: 2rem;
    
}

.about-me img{
    width: 150px;
}

.about-me h1{
    border-bottom: solid 2px white;
    margin-bottom: 0;
}

.about-me h3{
    font-size: 1rem;
}

.about-me p{
    margin-top: 0;
}

.about-me .fab{
    font-size: 2rem;
}

.resume{
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
}

/* Project Styling */

.card{
    background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card a{
    margin: 2rem;
    padding: .5rem;
    background-color: #C97D60;
    color: white;
    border-radius: 10px;
}

.card-links{
    margin-bottom: 1rem;
}

.card img{
    width: 100%;
}

.projects{
    margin-top: 1rem;
}

/* Animation Classes */

.fadein {
    opacity: 1;
    transition-duration: 500ms;
  }
  
  .fadeout {
    opacity: 0;
    transition-duration: 500ms;
  }

  .slideout {
    transform: translateX(-1000px);
    transition-duration: 500ms;
  }
  
  .slidein {
    transform: translateX(0px);
    transition-duration: 500ms;
  }