* {
  color: white;
  font-family: "Lexend", sans-serif;
}

a {
  text-decoration: none;
  color: #e06d06;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #040303;
  color: white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #101010;
}

/* About me styling */

.about-me {
  text-align: center;
  margin: 1rem 3rem;
  transform: translateX(-1000px);
}

.slideout {
  transform: translateX(-1000px);
  transition-duration: 500ms;
}

.slidein {
  transform: translateX(0px);
  transition-duration: 500ms;
}

.about-me h1 {
  border-bottom: solid 2px white;
  font-size: 4rem;
  margin-bottom: 0;
}

.about-me .fab {
  font-size: 60px;
  padding-left: 1rem;
}

.about-me img {
  width: 150px;
  border-radius: 10px;
}

.about-me p {
  font-size: 30px;
  margin-top: 0;
}

.about-me h3 {
  font-size: 30px;
}

.resume {
  display: block;
  font-size: 70px;
  padding-top: 2rem;
}

/* Project styling */

.card {
  text-align: center;
  margin: 2rem 3rem;
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card a {
  padding: 0 10rem 0 10rem;
  background-color: #b3442b;
  color: white;
  border-radius: 10px;
}

.card-links :hover {
  background-color: #151e3f;
  transition-duration: 100ms;
}

.card h3 {
  border-bottom: solid 2px black;
}

.card-text {
  font-size: 1rem;
  margin: 1rem 2rem;
}

.card img {
  width: 100%;
}

/*Animation classes */

.fadein {
  opacity: 1;
  transition-duration: 500ms;
}

.fadeout {
  opacity: 0;
  transition-duration: 500ms;
}
